section.section__list {
  margin: 10px;
  padding: 0 15px;

  .section__list__total {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;

    p {
      flex-basis: 50%;
      font-size: 0.8rem;
      font-weight: 500;

      &.right {
        text-align: right;
      }
    }
  }

  .section__list__item {
    ion-item {
      --background: #ffffff;
      --border-radius: 12px;
      --padding-top: 10px;
      --padding-bottom: 10px;

      margin-bottom: 12px;

      .info {
        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }
      }

      .hisher-info {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 50px;
          border-radius: 3px;
        }
        p {
          font-size: 0.8rem;
          font-weight: 500;
          margin: 0;
        }
      }
      img.rating {
        width: 12px;
      }
    }
  }
}

ion-footer {
  padding: 0 25px;
}
