ion-header {
  --ion-background-color: #f5f5f5;

  ion-toolbar {
    --background: #f5f5f5;
    --border-color: #f5f5f5;
    --border-width: 0;

    ion-title {
      color: #2b2b2b;
      font-weight: 600;
    }
  }
}

div.card-notfound {
  background: #fdfdfd;
  border-radius: 12px;
  padding: 28px;
  margin: 12px;

  img {
    display: block;
    margin: 10px auto;
    width: 65px;
  }

  p.title {
    color: #2b2b2b;
    font-size: 1rem;
    text-align: center;
  }

  ion-button {
    height: 48px;
  }
}

.show-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 14px;

  p {
    color: #555555;
    font-size: 0.8rem;
    font-weight: 600;
    margin: 25px 14px 0 14px;
  }
}

ion-content {
  --ion-background-color: #f5f5f5;

  ion-list.searchbar {
    margin: 0 14px;

    ion-item {
      --background: #ffffff;
      --highlight-color-focused: transparent;
      border-radius: 25px;
      margin: 18px 0;
      padding: 0;
      box-shadow: 0 1.2em 1.5em -0.9em #eeeeee;

      ion-searchbar {
        --background: #ffffff;
        padding: 0;
      }
    }
  }

  p.count {
    color: #555555;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: right;
    margin: 25px 14px 0 14px;
  }

  .card-list {
    ion-list {
      margin: 0 14px;

      ion-item {
        --min-height: 84px;
        --background: #ffffff;
        --highlight-color-focused: transparent;
        border-radius: 10px;
        margin-bottom: 6px;
        box-shadow: 0 1.2em 1.5em -0.9em #eeeeee;

        ion-label {
          h2.id {
            color: #1b1b1b;
            font-size: 0.9rem;
            line-height: 26px;
            font-weight: 600;
          }

          p.label {
            color: #252525;
            font-size: 0.9rem;
            font-weight: 500;
            line-height: 26px;
          }

          p.promo {
            color: #2b2b2b;
            font-size: 0.9rem;
            font-weight: 600;

            span.full {
              color: #bebebe;
              font-weight: 500;
              text-decoration: line-through;
              margin-left: 10px;
            }

            span.price {
              color: #c50000;
              margin-left: 10px;
            }
          }
        }

        img.card-hh {
          width: 45px;
          border-radius: 3px;
        }
      }
    }

    ion-item-sliding {
      margin-bottom: 6px;
      height: 84px;

      ion-item-options {
        ion-item-option {
          --background: #d40303;
          border-radius: 10px;
          // width: 20%;

          ion-icon {
            font-size: 1.7rem;
          }
        }
      }
    }

    div.not-found {
      padding: 25px 0;

      img {
        display: block;
        margin: 25px auto;
        width: 50px;
      }

      p {
        color: #777777;
        font-size: 0.9rem;
        font-weight: 600;
        text-align: center;
        line-height: 26px;
        letter-spacing: 0.3px;
      }
    }
  }

  ion-fab {
    ion-fab-button {
      --background: #f56a63;
      --box-shadow: none;
    }
  }
}
