@import url(https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap);
/** Ionic CSS Variables **/
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255,255,255;
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
html.ios {
  --ion-default-font: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}
html.md {
  --ion-default-font: "Roboto", "Helvetica Neue", sans-serif;
}
html {
  --ion-font-family: var(--ion-default-font);
}
body {
  background: var(--ion-background-color);
}
body.backdrop-no-scroll {
  overflow: hidden;
}
html.ios ion-modal.modal-card .ion-page > ion-header > ion-toolbar:first-of-type {
  padding-top: 0px;
}
html.ios ion-modal .ion-page {
  border-radius: inherit;
}
.ion-color-primary {
  --ion-color-base: var(--ion-color-primary, #3880ff) !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
  --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
  --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important;
}
.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary, #3dc2ff) !important;
  --ion-color-base-rgb: var(--ion-color-secondary-rgb, 61, 194, 255) !important;
  --ion-color-contrast: var(--ion-color-secondary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-secondary-shade, #36abe0) !important;
  --ion-color-tint: var(--ion-color-secondary-tint, #50c8ff) !important;
}
.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary, #5260ff) !important;
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb, 82, 96, 255) !important;
  --ion-color-contrast: var(--ion-color-tertiary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-tertiary-shade, #4854e0) !important;
  --ion-color-tint: var(--ion-color-tertiary-tint, #6370ff) !important;
}
.ion-color-success {
  --ion-color-base: var(--ion-color-success, #2dd36f) !important;
  --ion-color-base-rgb: var(--ion-color-success-rgb, 45, 211, 111) !important;
  --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-success-shade, #28ba62) !important;
  --ion-color-tint: var(--ion-color-success-tint, #42d77d) !important;
}
.ion-color-warning {
  --ion-color-base: var(--ion-color-warning, #ffc409) !important;
  --ion-color-base-rgb: var(--ion-color-warning-rgb, 255, 196, 9) !important;
  --ion-color-contrast: var(--ion-color-warning-contrast, #000) !important;
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb, 0, 0, 0) !important;
  --ion-color-shade: var(--ion-color-warning-shade, #e0ac08) !important;
  --ion-color-tint: var(--ion-color-warning-tint, #ffca22) !important;
}
.ion-color-danger {
  --ion-color-base: var(--ion-color-danger, #eb445a) !important;
  --ion-color-base-rgb: var(--ion-color-danger-rgb, 235, 68, 90) !important;
  --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-danger-shade, #cf3c4f) !important;
  --ion-color-tint: var(--ion-color-danger-tint, #ed576b) !important;
}
.ion-color-light {
  --ion-color-base: var(--ion-color-light, #f4f5f8) !important;
  --ion-color-base-rgb: var(--ion-color-light-rgb, 244, 245, 248) !important;
  --ion-color-contrast: var(--ion-color-light-contrast, #000) !important;
  --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb, 0, 0, 0) !important;
  --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
  --ion-color-tint: var(--ion-color-light-tint, #f5f6f9) !important;
}
.ion-color-medium {
  --ion-color-base: var(--ion-color-medium, #92949c) !important;
  --ion-color-base-rgb: var(--ion-color-medium-rgb, 146, 148, 156) !important;
  --ion-color-contrast: var(--ion-color-medium-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-medium-shade, #808289) !important;
  --ion-color-tint: var(--ion-color-medium-tint, #9d9fa6) !important;
}
.ion-color-dark {
  --ion-color-base: var(--ion-color-dark, #222428) !important;
  --ion-color-base-rgb: var(--ion-color-dark-rgb, 34, 36, 40) !important;
  --ion-color-contrast: var(--ion-color-dark-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb, 255, 255, 255) !important;
  --ion-color-shade: var(--ion-color-dark-shade, #1e2023) !important;
  --ion-color-tint: var(--ion-color-dark-tint, #383a3e) !important;
}
.ion-page {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;
}
.split-pane-visible > .ion-page.split-pane-main {
  position: relative;
}
ion-route,
ion-route-redirect,
ion-router,
ion-select-option,
ion-nav-controller,
ion-menu-controller,
ion-action-sheet-controller,
ion-alert-controller,
ion-loading-controller,
ion-modal-controller,
ion-picker-controller,
ion-popover-controller,
ion-toast-controller,
.ion-page-hidden,
[hidden] {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}
.ion-page-invisible {
  opacity: 0;
}
.can-go-back > ion-header ion-back-button {
  display: block;
}
html.plt-ios.plt-hybrid, html.plt-ios.plt-pwa {
  --ion-statusbar-padding: 20px;
}
@supports (padding-top: 20px) {
  html {
    --ion-safe-area-top: var(--ion-statusbar-padding);
  }
}
@supports (padding-top: constant(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: constant(safe-area-inset-top);
    --ion-safe-area-bottom: constant(safe-area-inset-bottom);
    --ion-safe-area-left: constant(safe-area-inset-left);
    --ion-safe-area-right: constant(safe-area-inset-right);
  }
}
@supports (padding-top: env(safe-area-inset-top)) {
  html {
    --ion-safe-area-top: env(safe-area-inset-top);
    --ion-safe-area-bottom: env(safe-area-inset-bottom);
    --ion-safe-area-left: env(safe-area-inset-left);
    --ion-safe-area-right: env(safe-area-inset-right);
  }
}
ion-card.ion-color .ion-inherit-color,
ion-card-header.ion-color .ion-inherit-color {
  color: inherit;
}
.menu-content {
  transform: translate3d(0,  0,  0);
}
.menu-content-open {
  cursor: pointer;
  touch-action: manipulation;
  pointer-events: none;
}
.ios .menu-content-reveal {
  box-shadow: -8px 0 42px rgba(0, 0, 0, 0.08);
}
[dir=rtl].ios .menu-content-reveal {
  box-shadow: 8px 0 42px rgba(0, 0, 0, 0.08);
}
.md .menu-content-reveal {
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}
.md .menu-content-push {
  box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.18);
}
ion-input input::-webkit-date-and-time-value {
  text-align: start;
}
html.ios{--ion-default-font:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Roboto",sans-serif}
html.md{--ion-default-font:"Roboto","Helvetica Neue",sans-serif}
body.backdrop-no-scroll{overflow:hidden}
html.ios ion-modal.modal-card .ion-page>ion-header>ion-toolbar:first-of-type{padding-top:0}
html.ios ion-modal .ion-page{border-radius:inherit}
.ion-color-primary{--ion-color-base:var(--ion-color-primary, #3880ff)!important;--ion-color-base-rgb:var(--ion-color-primary-rgb, 56, 128, 255)!important;--ion-color-contrast:var(--ion-color-primary-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-primary-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-primary-shade, #3171e0)!important;--ion-color-tint:var(--ion-color-primary-tint, #4c8dff)!important}
.ion-color-secondary{--ion-color-base:var(--ion-color-secondary, #3dc2ff)!important;--ion-color-base-rgb:var(--ion-color-secondary-rgb, 61, 194, 255)!important;--ion-color-contrast:var(--ion-color-secondary-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-secondary-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-secondary-shade, #36abe0)!important;--ion-color-tint:var(--ion-color-secondary-tint, #50c8ff)!important}
.ion-color-tertiary{--ion-color-base:var(--ion-color-tertiary, #5260ff)!important;--ion-color-base-rgb:var(--ion-color-tertiary-rgb, 82, 96, 255)!important;--ion-color-contrast:var(--ion-color-tertiary-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-tertiary-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-tertiary-shade, #4854e0)!important;--ion-color-tint:var(--ion-color-tertiary-tint, #6370ff)!important}
.ion-color-success{--ion-color-base:var(--ion-color-success, #2dd36f)!important;--ion-color-base-rgb:var(--ion-color-success-rgb, 45, 211, 111)!important;--ion-color-contrast:var(--ion-color-success-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-success-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-success-shade, #28ba62)!important;--ion-color-tint:var(--ion-color-success-tint, #42d77d)!important}
.ion-color-warning{--ion-color-base:var(--ion-color-warning, #ffc409)!important;--ion-color-base-rgb:var(--ion-color-warning-rgb, 255, 196, 9)!important;--ion-color-contrast:var(--ion-color-warning-contrast, #000)!important;--ion-color-contrast-rgb:var(--ion-color-warning-contrast-rgb, 0, 0, 0)!important;--ion-color-shade:var(--ion-color-warning-shade, #e0ac08)!important;--ion-color-tint:var(--ion-color-warning-tint, #ffca22)!important}
.ion-color-danger{--ion-color-base:var(--ion-color-danger, #eb445a)!important;--ion-color-base-rgb:var(--ion-color-danger-rgb, 235, 68, 90)!important;--ion-color-contrast:var(--ion-color-danger-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-danger-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-danger-shade, #cf3c4f)!important;--ion-color-tint:var(--ion-color-danger-tint, #ed576b)!important}
.ion-color-light{--ion-color-base:var(--ion-color-light, #f4f5f8)!important;--ion-color-base-rgb:var(--ion-color-light-rgb, 244, 245, 248)!important;--ion-color-contrast:var(--ion-color-light-contrast, #000)!important;--ion-color-contrast-rgb:var(--ion-color-light-contrast-rgb, 0, 0, 0)!important;--ion-color-shade:var(--ion-color-light-shade, #d7d8da)!important;--ion-color-tint:var(--ion-color-light-tint, #f5f6f9)!important}
.ion-color-medium{--ion-color-base:var(--ion-color-medium, #92949c)!important;--ion-color-base-rgb:var(--ion-color-medium-rgb, 146, 148, 156)!important;--ion-color-contrast:var(--ion-color-medium-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-medium-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-medium-shade, #808289)!important;--ion-color-tint:var(--ion-color-medium-tint, #9d9fa6)!important}
.ion-color-dark{--ion-color-base:var(--ion-color-dark, #222428)!important;--ion-color-base-rgb:var(--ion-color-dark-rgb, 34, 36, 40)!important;--ion-color-contrast:var(--ion-color-dark-contrast, #fff)!important;--ion-color-contrast-rgb:var(--ion-color-dark-contrast-rgb, 255, 255, 255)!important;--ion-color-shade:var(--ion-color-dark-shade, #1e2023)!important;--ion-color-tint:var(--ion-color-dark-tint, #383a3e)!important}
.ion-page{left:0;right:0;top:0;bottom:0;display:flex;position:absolute;flex-direction:column;justify-content:space-between;contain:layout size style;overflow:hidden;z-index:0}
.split-pane-visible>.ion-page.split-pane-main{position:relative}
.ion-page-hidden,[hidden],ion-action-sheet-controller,ion-alert-controller,ion-loading-controller,ion-menu-controller,ion-modal-controller,ion-nav-controller,ion-picker-controller,ion-popover-controller,ion-route,ion-route-redirect,ion-router,ion-select-option,ion-toast-controller{display:none!important}
.ion-page-invisible{opacity:0}
.can-go-back>ion-header ion-back-button{display:block}
html.plt-ios.plt-hybrid,html.plt-ios.plt-pwa{--ion-statusbar-padding:20px}
@supports (padding-top:20px){html{--ion-safe-area-top:var(--ion-statusbar-padding)}}
@supports (padding-top:constant(safe-area-inset-top)){html{--ion-safe-area-top:constant(safe-area-inset-top);--ion-safe-area-bottom:constant(safe-area-inset-bottom);--ion-safe-area-left:constant(safe-area-inset-left);--ion-safe-area-right:constant(safe-area-inset-right)}}
@supports (padding-top:env(safe-area-inset-top)){html{--ion-safe-area-top:env(safe-area-inset-top);--ion-safe-area-bottom:env(safe-area-inset-bottom);--ion-safe-area-left:env(safe-area-inset-left);--ion-safe-area-right:env(safe-area-inset-right)}}
ion-card-header.ion-color .ion-inherit-color,ion-card.ion-color .ion-inherit-color{color:inherit}
.menu-content{transform:translate3d(0,0,0)}
.menu-content-open{cursor:pointer;touch-action:manipulation;pointer-events:none}
.ios .menu-content-reveal{box-shadow:-8px 0 42px rgba(0,0,0,.08)}
[dir=rtl].ios .menu-content-reveal{box-shadow:8px 0 42px rgba(0,0,0,.08)}
.md .menu-content-push,.md .menu-content-reveal{box-shadow:4px 0 16px rgba(0,0,0,.18)}
ion-input input::-webkit-date-and-time-value{text-align:start}
audio,canvas,progress,video{vertical-align:baseline}
audio:not([controls]){display:none;height:0}
b,strong{font-weight:700}
img{max-width:100%;border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{height:1px;border-width:0;box-sizing:content-box}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
input,label,select,textarea{font-family:inherit;line-height:normal}
textarea{overflow:auto;height:auto;font:inherit;color:inherit}
textarea::placeholder{padding-left:2px}
form,input,optgroup,select{margin:0;font:inherit;color:inherit}
html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}
.ion-tappable,[tappable],[tappable] div,[tappable] ion-icon,[tappable] ion-label,[tappable] span,a,a div,a ion-icon,a ion-label,a span,button,button div,button ion-icon,button ion-label,button span,input,textarea{touch-action:manipulation}
a ion-label,button ion-label{pointer-events:none}
button{border:0;border-radius:0;font-family:inherit;font-style:inherit;font-variant:inherit;line-height:1;text-transform:none;cursor:pointer;-webkit-appearance:button}
[tappable]{cursor:pointer}
a[disabled],button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input[type=checkbox],input[type=radio]{padding:0;box-sizing:border-box}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
*{box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}
html{--ion-font-family:var(--ion-default-font);width:100%;height:100%;-webkit-text-size-adjust:100%;text-size-adjust:100%;font-family:var(--ion-font-family)}
html:not(.hydrated) body{display:none}
html.plt-pwa{height:100vh}
body{background:var(--ion-background-color);-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;position:fixed;width:100%;max-width:100%;height:100%;max-height:100%;text-rendering:optimizeLegibility;overflow:hidden;touch-action:manipulation;-webkit-user-drag:none;-ms-content-zooming:none;word-wrap:break-word;overscroll-behavior-y:none;-webkit-text-size-adjust:none;text-size-adjust:none;margin:0;padding:0}
a{background-color:transparent;color:var(--ion-color-primary,#3880ff)}
h1,h2,h3,h4,h5,h6{margin-top:16px;margin-bottom:10px;font-weight:500;line-height:1.2}
h1{margin-top:20px;font-size:26px}
h2{margin-top:18px;font-size:24px}
h3{font-size:22px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
small{font-size:75%}
sub,sup{position:relative;font-size:75%;line-height:0;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
.ion-no-padding{--padding-start:0;--padding-end:0;--padding-top:0;--padding-bottom:0;padding:0}
.ion-padding{--padding-start:var(--ion-padding, 16px);--padding-end:var(--ion-padding, 16px);--padding-top:var(--ion-padding, 16px);--padding-bottom:var(--ion-padding, 16px);padding-left:var(--ion-padding,16px);padding-right:var(--ion-padding,16px);padding-top:var(--ion-padding,16px);padding-bottom:var(--ion-padding,16px)}
@supports (margin-inline-start:0) or (-webkit-margin-start:0){.ion-padding{padding-left:unset;padding-right:unset;padding-inline-start:var(--ion-padding,16px);padding-inline-end:var(--ion-padding,16px)}}
.ion-padding-top{--padding-top:var(--ion-padding, 16px);padding-top:var(--ion-padding,16px)}
.ion-padding-start{--padding-start:var(--ion-padding, 16px);padding-left:var(--ion-padding,16px)}
.ion-padding-end{--padding-end:var(--ion-padding, 16px);padding-right:var(--ion-padding,16px)}
@supports (margin-inline-start:0) or (-webkit-margin-start:0){.ion-padding-start{padding-left:unset;padding-inline-start:var(--ion-padding,16px)}.ion-padding-end{padding-right:unset;padding-inline-end:var(--ion-padding,16px)}}
.ion-padding-bottom{--padding-bottom:var(--ion-padding, 16px);padding-bottom:var(--ion-padding,16px)}
.ion-padding-vertical{--padding-top:var(--ion-padding, 16px);--padding-bottom:var(--ion-padding, 16px);padding-top:var(--ion-padding,16px);padding-bottom:var(--ion-padding,16px)}
.ion-padding-horizontal{--padding-start:var(--ion-padding, 16px);--padding-end:var(--ion-padding, 16px);padding-left:var(--ion-padding,16px);padding-right:var(--ion-padding,16px)}
.ion-no-margin{--margin-start:0;--margin-end:0;--margin-top:0;--margin-bottom:0;margin:0}
.ion-margin{--margin-start:var(--ion-margin, 16px);--margin-end:var(--ion-margin, 16px);--margin-top:var(--ion-margin, 16px);--margin-bottom:var(--ion-margin, 16px);margin-left:var(--ion-margin,16px);margin-right:var(--ion-margin,16px);margin-top:var(--ion-margin,16px);margin-bottom:var(--ion-margin,16px)}
@supports (margin-inline-start:0) or (-webkit-margin-start:0){.ion-padding-horizontal{padding-left:unset;padding-right:unset;padding-inline-start:var(--ion-padding,16px);padding-inline-end:var(--ion-padding,16px)}.ion-margin{margin-left:unset;margin-right:unset;margin-inline-start:var(--ion-margin,16px);margin-inline-end:var(--ion-margin,16px)}}
.ion-margin-top{--margin-top:var(--ion-margin, 16px);margin-top:var(--ion-margin,16px)}
.ion-margin-start{--margin-start:var(--ion-margin, 16px);margin-left:var(--ion-margin,16px)}
.ion-margin-end{--margin-end:var(--ion-margin, 16px);margin-right:var(--ion-margin,16px)}
@supports (margin-inline-start:0) or (-webkit-margin-start:0){.ion-margin-start{margin-left:unset;margin-inline-start:var(--ion-margin,16px)}.ion-margin-end{margin-right:unset;margin-inline-end:var(--ion-margin,16px)}}
.ion-margin-bottom{--margin-bottom:var(--ion-margin, 16px);margin-bottom:var(--ion-margin,16px)}
.ion-margin-vertical{--margin-top:var(--ion-margin, 16px);--margin-bottom:var(--ion-margin, 16px);margin-top:var(--ion-margin,16px);margin-bottom:var(--ion-margin,16px)}
.ion-margin-horizontal{--margin-start:var(--ion-margin, 16px);--margin-end:var(--ion-margin, 16px);margin-left:var(--ion-margin,16px);margin-right:var(--ion-margin,16px)}
@supports (margin-inline-start:0) or (-webkit-margin-start:0){.ion-margin-horizontal{margin-left:unset;margin-right:unset;margin-inline-start:var(--ion-margin,16px);margin-inline-end:var(--ion-margin,16px)}}
.ion-float-left{float:left!important}
.ion-float-right{float:right!important}
.ion-float-start{float:left!important}
:host-context([dir=rtl]) .ion-float-start,[dir=rtl] .ion-float-start{float:right!important}
.ion-float-end{float:right!important}
:host-context([dir=rtl]) .ion-float-end,[dir=rtl] .ion-float-end{float:left!important}
.ion-text-center{text-align:center!important}
.ion-text-justify{text-align:justify!important}
.ion-text-start{text-align:start!important}
.ion-text-end{text-align:end!important}
.ion-text-left{text-align:left!important}
.ion-text-right{text-align:right!important}
.ion-text-nowrap{white-space:nowrap!important}
.ion-text-wrap{white-space:normal!important}
.ion-text-uppercase{text-transform:uppercase!important}
.ion-text-lowercase{text-transform:lowercase!important}
.ion-text-capitalize{text-transform:capitalize!important}
.ion-align-self-start{align-self:flex-start!important}
.ion-align-self-end{align-self:flex-end!important}
.ion-align-self-center{align-self:center!important}
.ion-align-self-stretch{align-self:stretch!important}
.ion-align-self-baseline{align-self:baseline!important}
.ion-align-self-auto{align-self:auto!important}
.ion-wrap{flex-wrap:wrap!important}
.ion-nowrap{flex-wrap:nowrap!important}
.ion-wrap-reverse{flex-wrap:wrap-reverse!important}
.ion-justify-content-start{justify-content:flex-start!important}
.ion-justify-content-center{justify-content:center!important}
.ion-justify-content-end{justify-content:flex-end!important}
.ion-justify-content-around{justify-content:space-around!important}
.ion-justify-content-between{justify-content:space-between!important}
.ion-justify-content-evenly{justify-content:space-evenly!important}
.ion-align-items-start{align-items:flex-start!important}
.ion-align-items-center{align-items:center!important}
.ion-align-items-end{align-items:flex-end!important}
.ion-align-items-stretch{align-items:stretch!important}
.ion-align-items-baseline{align-items:baseline!important}
.ion-hide,.ion-hide-down,.ion-hide-up{display:none!important}
@media (min-width:576px){.ion-float-sm-left{float:left!important}.ion-float-sm-right{float:right!important}.ion-float-sm-start{float:left!important}:host-context([dir=rtl]) .ion-float-sm-start,[dir=rtl] .ion-float-sm-start{float:right!important}.ion-float-sm-end{float:right!important}:host-context([dir=rtl]) .ion-float-sm-end,[dir=rtl] .ion-float-sm-end{float:left!important}.ion-text-sm-center{text-align:center!important}.ion-text-sm-justify{text-align:justify!important}.ion-text-sm-start{text-align:start!important}.ion-text-sm-end{text-align:end!important}.ion-text-sm-left{text-align:left!important}.ion-text-sm-right{text-align:right!important}.ion-text-sm-nowrap{white-space:nowrap!important}.ion-text-sm-wrap{white-space:normal!important}.ion-text-sm-uppercase{text-transform:uppercase!important}.ion-text-sm-lowercase{text-transform:lowercase!important}.ion-text-sm-capitalize{text-transform:capitalize!important}.ion-hide-sm-up{display:none!important}}
@media (max-width:575.98px){.ion-hide-sm-down{display:none!important}}
@media (min-width:768px){.ion-float-md-left{float:left!important}.ion-float-md-right{float:right!important}.ion-float-md-start{float:left!important}:host-context([dir=rtl]) .ion-float-md-start,[dir=rtl] .ion-float-md-start{float:right!important}.ion-float-md-end{float:right!important}:host-context([dir=rtl]) .ion-float-md-end,[dir=rtl] .ion-float-md-end{float:left!important}.ion-text-md-center{text-align:center!important}.ion-text-md-justify{text-align:justify!important}.ion-text-md-start{text-align:start!important}.ion-text-md-end{text-align:end!important}.ion-text-md-left{text-align:left!important}.ion-text-md-right{text-align:right!important}.ion-text-md-nowrap{white-space:nowrap!important}.ion-text-md-wrap{white-space:normal!important}.ion-text-md-uppercase{text-transform:uppercase!important}.ion-text-md-lowercase{text-transform:lowercase!important}.ion-text-md-capitalize{text-transform:capitalize!important}.ion-hide-md-up{display:none!important}}
@media (max-width:767.98px){.ion-hide-md-down{display:none!important}}
@media (min-width:992px){.ion-float-lg-left{float:left!important}.ion-float-lg-right{float:right!important}.ion-float-lg-start{float:left!important}:host-context([dir=rtl]) .ion-float-lg-start,[dir=rtl] .ion-float-lg-start{float:right!important}.ion-float-lg-end{float:right!important}:host-context([dir=rtl]) .ion-float-lg-end,[dir=rtl] .ion-float-lg-end{float:left!important}.ion-text-lg-center{text-align:center!important}.ion-text-lg-justify{text-align:justify!important}.ion-text-lg-start{text-align:start!important}.ion-text-lg-end{text-align:end!important}.ion-text-lg-left{text-align:left!important}.ion-text-lg-right{text-align:right!important}.ion-text-lg-nowrap{white-space:nowrap!important}.ion-text-lg-wrap{white-space:normal!important}.ion-text-lg-uppercase{text-transform:uppercase!important}.ion-text-lg-lowercase{text-transform:lowercase!important}.ion-text-lg-capitalize{text-transform:capitalize!important}.ion-hide-lg-up{display:none!important}}
@media (max-width:991.98px){.ion-hide-lg-down{display:none!important}}
@media (min-width:1200px){.ion-float-xl-left{float:left!important}.ion-float-xl-right{float:right!important}.ion-float-xl-start{float:left!important}:host-context([dir=rtl]) .ion-float-xl-start,[dir=rtl] .ion-float-xl-start{float:right!important}.ion-float-xl-end{float:right!important}:host-context([dir=rtl]) .ion-float-xl-end,[dir=rtl] .ion-float-xl-end{float:left!important}.ion-text-xl-center{text-align:center!important}.ion-text-xl-justify{text-align:justify!important}.ion-text-xl-start{text-align:start!important}.ion-text-xl-end{text-align:end!important}.ion-text-xl-left{text-align:left!important}.ion-text-xl-right{text-align:right!important}.ion-text-xl-nowrap{white-space:nowrap!important}.ion-text-xl-wrap{white-space:normal!important}.ion-text-xl-uppercase{text-transform:uppercase!important}.ion-text-xl-lowercase{text-transform:lowercase!important}.ion-text-xl-capitalize{text-transform:capitalize!important}.ion-hide-xl-up{display:none!important}}
@media (max-width:1199.98px){.ion-hide-xl-down{display:none!important}}
/* Basic CSS for apps built with Ionic */
audio,
canvas,
progress,
video {
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
b,
strong {
  font-weight: bold;
}
img {
  max-width: 100%;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  height: 1px;
  border-width: 0;
  box-sizing: content-box;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
label,
input,
select,
textarea {
  font-family: inherit;
  line-height: normal;
}
textarea {
  overflow: auto;
  height: auto;
  font: inherit;
  color: inherit;
}
textarea::placeholder {
  padding-left: 2px;
}
form,
input,
optgroup,
select {
  margin: 0;
  font: inherit;
  color: inherit;
}
html input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
a,
a div,
a span,
a ion-icon,
a ion-label,
button,
button div,
button span,
button ion-icon,
button ion-label,
.ion-tappable,
[tappable],
[tappable] div,
[tappable] span,
[tappable] ion-icon,
[tappable] ion-label,
input,
textarea {
  touch-action: manipulation;
}
a ion-label,
button ion-label {
  pointer-events: none;
}
button {
  border: 0;
  border-radius: 0;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
}
[tappable] {
  cursor: pointer;
}
a[disabled],
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type=checkbox],
input[type=radio] {
  padding: 0;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
}
html:not(.hydrated) body {
  display: none;
}
html.plt-pwa {
  height: 100vh;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  touch-action: manipulation;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  word-wrap: break-word;
  overscroll-behavior-y: none;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
}
html {
  font-family: var(--ion-font-family);
}
a {
  background-color: transparent;
  color: var(--ion-color-primary, #3880ff);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  margin-top: 20px;
  font-size: 26px;
}
h2 {
  margin-top: 18px;
  font-size: 24px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
small {
  font-size: 75%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.ion-hide {
  display: none !important;
}
.ion-hide-up {
  display: none !important;
}
.ion-hide-down {
  display: none !important;
}
@media (min-width: 576px) {
  .ion-hide-sm-up {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .ion-hide-sm-down {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .ion-hide-md-up {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .ion-hide-md-down {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .ion-hide-lg-up {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .ion-hide-lg-down {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .ion-hide-xl-up {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .ion-hide-xl-down {
    display: none !important;
  }
}
/* Optional CSS utils that can be commented out */
.ion-no-padding {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.ion-padding {
  --padding-start: var(--ion-padding, 16px);
  --padding-end: var(--ion-padding, 16px);
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
  padding-left: var(--ion-padding, 16px);
  padding-right: var(--ion-padding, 16px);
  padding-top: var(--ion-padding, 16px);
  padding-bottom: var(--ion-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-padding {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--ion-padding, 16px);
    padding-inline-end: var(--ion-padding, 16px);
  }
}
.ion-padding-top {
  --padding-top: var(--ion-padding, 16px);
  padding-top: var(--ion-padding, 16px);
}
.ion-padding-start {
  --padding-start: var(--ion-padding, 16px);
  padding-left: var(--ion-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-padding-start {
    padding-left: unset;
    padding-inline-start: var(--ion-padding, 16px);
  }
}
.ion-padding-end {
  --padding-end: var(--ion-padding, 16px);
  padding-right: var(--ion-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-padding-end {
    padding-right: unset;
    padding-inline-end: var(--ion-padding, 16px);
  }
}
.ion-padding-bottom {
  --padding-bottom: var(--ion-padding, 16px);
  padding-bottom: var(--ion-padding, 16px);
}
.ion-padding-vertical {
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
  padding-top: var(--ion-padding, 16px);
  padding-bottom: var(--ion-padding, 16px);
}
.ion-padding-horizontal {
  --padding-start: var(--ion-padding, 16px);
  --padding-end: var(--ion-padding, 16px);
  padding-left: var(--ion-padding, 16px);
  padding-right: var(--ion-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-padding-horizontal {
    padding-left: unset;
    padding-right: unset;
    padding-inline-start: var(--ion-padding, 16px);
    padding-inline-end: var(--ion-padding, 16px);
  }
}
.ion-no-margin {
  --margin-start: 0;
  --margin-end: 0;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.ion-margin {
  --margin-start: var(--ion-margin, 16px);
  --margin-end: var(--ion-margin, 16px);
  --margin-top: var(--ion-margin, 16px);
  --margin-bottom: var(--ion-margin, 16px);
  margin-left: var(--ion-margin, 16px);
  margin-right: var(--ion-margin, 16px);
  margin-top: var(--ion-margin, 16px);
  margin-bottom: var(--ion-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-margin {
    margin-left: unset;
    margin-right: unset;
    margin-inline-start: var(--ion-margin, 16px);
    margin-inline-end: var(--ion-margin, 16px);
  }
}
.ion-margin-top {
  --margin-top: var(--ion-margin, 16px);
  margin-top: var(--ion-margin, 16px);
}
.ion-margin-start {
  --margin-start: var(--ion-margin, 16px);
  margin-left: var(--ion-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-margin-start {
    margin-left: unset;
    margin-inline-start: var(--ion-margin, 16px);
  }
}
.ion-margin-end {
  --margin-end: var(--ion-margin, 16px);
  margin-right: var(--ion-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-margin-end {
    margin-right: unset;
    margin-inline-end: var(--ion-margin, 16px);
  }
}
.ion-margin-bottom {
  --margin-bottom: var(--ion-margin, 16px);
  margin-bottom: var(--ion-margin, 16px);
}
.ion-margin-vertical {
  --margin-top: var(--ion-margin, 16px);
  --margin-bottom: var(--ion-margin, 16px);
  margin-top: var(--ion-margin, 16px);
  margin-bottom: var(--ion-margin, 16px);
}
.ion-margin-horizontal {
  --margin-start: var(--ion-margin, 16px);
  --margin-end: var(--ion-margin, 16px);
  margin-left: var(--ion-margin, 16px);
  margin-right: var(--ion-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .ion-margin-horizontal {
    margin-left: unset;
    margin-right: unset;
    margin-inline-start: var(--ion-margin, 16px);
    margin-inline-end: var(--ion-margin, 16px);
  }
}
.ion-float-left {
  float: left !important;
}
.ion-float-right {
  float: right !important;
}
.ion-float-start {
  float: left !important;
}
[dir=rtl] .ion-float-start, :host-context([dir=rtl]) .ion-float-start {
  float: right !important;
}
.ion-float-end {
  float: right !important;
}
[dir=rtl] .ion-float-end, :host-context([dir=rtl]) .ion-float-end {
  float: left !important;
}
@media (min-width: 576px) {
  .ion-float-sm-left {
    float: left !important;
  }

  .ion-float-sm-right {
    float: right !important;
  }

  .ion-float-sm-start {
    float: left !important;
  }
  [dir=rtl] .ion-float-sm-start, :host-context([dir=rtl]) .ion-float-sm-start {
    float: right !important;
  }

  .ion-float-sm-end {
    float: right !important;
  }
  [dir=rtl] .ion-float-sm-end, :host-context([dir=rtl]) .ion-float-sm-end {
    float: left !important;
  }
}
@media (min-width: 768px) {
  .ion-float-md-left {
    float: left !important;
  }

  .ion-float-md-right {
    float: right !important;
  }

  .ion-float-md-start {
    float: left !important;
  }
  [dir=rtl] .ion-float-md-start, :host-context([dir=rtl]) .ion-float-md-start {
    float: right !important;
  }

  .ion-float-md-end {
    float: right !important;
  }
  [dir=rtl] .ion-float-md-end, :host-context([dir=rtl]) .ion-float-md-end {
    float: left !important;
  }
}
@media (min-width: 992px) {
  .ion-float-lg-left {
    float: left !important;
  }

  .ion-float-lg-right {
    float: right !important;
  }

  .ion-float-lg-start {
    float: left !important;
  }
  [dir=rtl] .ion-float-lg-start, :host-context([dir=rtl]) .ion-float-lg-start {
    float: right !important;
  }

  .ion-float-lg-end {
    float: right !important;
  }
  [dir=rtl] .ion-float-lg-end, :host-context([dir=rtl]) .ion-float-lg-end {
    float: left !important;
  }
}
@media (min-width: 1200px) {
  .ion-float-xl-left {
    float: left !important;
  }

  .ion-float-xl-right {
    float: right !important;
  }

  .ion-float-xl-start {
    float: left !important;
  }
  [dir=rtl] .ion-float-xl-start, :host-context([dir=rtl]) .ion-float-xl-start {
    float: right !important;
  }

  .ion-float-xl-end {
    float: right !important;
  }
  [dir=rtl] .ion-float-xl-end, :host-context([dir=rtl]) .ion-float-xl-end {
    float: left !important;
  }
}
.ion-text-center {
  text-align: center !important;
}
.ion-text-justify {
  text-align: justify !important;
}
.ion-text-start {
  text-align: start !important;
}
.ion-text-end {
  text-align: end !important;
}
.ion-text-left {
  text-align: left !important;
}
.ion-text-right {
  text-align: right !important;
}
.ion-text-nowrap {
  white-space: nowrap !important;
}
.ion-text-wrap {
  white-space: normal !important;
}
@media (min-width: 576px) {
  .ion-text-sm-center {
    text-align: center !important;
  }

  .ion-text-sm-justify {
    text-align: justify !important;
  }

  .ion-text-sm-start {
    text-align: start !important;
  }

  .ion-text-sm-end {
    text-align: end !important;
  }

  .ion-text-sm-left {
    text-align: left !important;
  }

  .ion-text-sm-right {
    text-align: right !important;
  }

  .ion-text-sm-nowrap {
    white-space: nowrap !important;
  }

  .ion-text-sm-wrap {
    white-space: normal !important;
  }
}
@media (min-width: 768px) {
  .ion-text-md-center {
    text-align: center !important;
  }

  .ion-text-md-justify {
    text-align: justify !important;
  }

  .ion-text-md-start {
    text-align: start !important;
  }

  .ion-text-md-end {
    text-align: end !important;
  }

  .ion-text-md-left {
    text-align: left !important;
  }

  .ion-text-md-right {
    text-align: right !important;
  }

  .ion-text-md-nowrap {
    white-space: nowrap !important;
  }

  .ion-text-md-wrap {
    white-space: normal !important;
  }
}
@media (min-width: 992px) {
  .ion-text-lg-center {
    text-align: center !important;
  }

  .ion-text-lg-justify {
    text-align: justify !important;
  }

  .ion-text-lg-start {
    text-align: start !important;
  }

  .ion-text-lg-end {
    text-align: end !important;
  }

  .ion-text-lg-left {
    text-align: left !important;
  }

  .ion-text-lg-right {
    text-align: right !important;
  }

  .ion-text-lg-nowrap {
    white-space: nowrap !important;
  }

  .ion-text-lg-wrap {
    white-space: normal !important;
  }
}
@media (min-width: 1200px) {
  .ion-text-xl-center {
    text-align: center !important;
  }

  .ion-text-xl-justify {
    text-align: justify !important;
  }

  .ion-text-xl-start {
    text-align: start !important;
  }

  .ion-text-xl-end {
    text-align: end !important;
  }

  .ion-text-xl-left {
    text-align: left !important;
  }

  .ion-text-xl-right {
    text-align: right !important;
  }

  .ion-text-xl-nowrap {
    white-space: nowrap !important;
  }

  .ion-text-xl-wrap {
    white-space: normal !important;
  }
}
.ion-text-uppercase {
  /* stylelint-disable-next-line declaration-no-important */
  text-transform: uppercase !important;
}
.ion-text-lowercase {
  /* stylelint-disable-next-line declaration-no-important */
  text-transform: lowercase !important;
}
.ion-text-capitalize {
  /* stylelint-disable-next-line declaration-no-important */
  text-transform: capitalize !important;
}
@media (min-width: 576px) {
  .ion-text-sm-uppercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: uppercase !important;
  }

  .ion-text-sm-lowercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: lowercase !important;
  }

  .ion-text-sm-capitalize {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: capitalize !important;
  }
}
@media (min-width: 768px) {
  .ion-text-md-uppercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: uppercase !important;
  }

  .ion-text-md-lowercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: lowercase !important;
  }

  .ion-text-md-capitalize {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: capitalize !important;
  }
}
@media (min-width: 992px) {
  .ion-text-lg-uppercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: uppercase !important;
  }

  .ion-text-lg-lowercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: lowercase !important;
  }

  .ion-text-lg-capitalize {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: capitalize !important;
  }
}
@media (min-width: 1200px) {
  .ion-text-xl-uppercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: uppercase !important;
  }

  .ion-text-xl-lowercase {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: lowercase !important;
  }

  .ion-text-xl-capitalize {
    /* stylelint-disable-next-line declaration-no-important */
    text-transform: capitalize !important;
  }
}
.ion-align-self-start {
  align-self: flex-start !important;
}
.ion-align-self-end {
  align-self: flex-end !important;
}
.ion-align-self-center {
  align-self: center !important;
}
.ion-align-self-stretch {
  align-self: stretch !important;
}
.ion-align-self-baseline {
  align-self: baseline !important;
}
.ion-align-self-auto {
  align-self: auto !important;
}
.ion-wrap {
  flex-wrap: wrap !important;
}
.ion-nowrap {
  flex-wrap: nowrap !important;
}
.ion-wrap-reverse {
  flex-wrap: wrap-reverse !important;
}
.ion-justify-content-start {
  justify-content: flex-start !important;
}
.ion-justify-content-center {
  justify-content: center !important;
}
.ion-justify-content-end {
  justify-content: flex-end !important;
}
.ion-justify-content-around {
  justify-content: space-around !important;
}
.ion-justify-content-between {
  justify-content: space-between !important;
}
.ion-justify-content-evenly {
  justify-content: space-evenly !important;
}
.ion-align-items-start {
  align-items: flex-start !important;
}
.ion-align-items-center {
  align-items: center !important;
}
.ion-align-items-end {
  align-items: flex-end !important;
}
.ion-align-items-stretch {
  align-items: stretch !important;
}
.ion-align-items-baseline {
  align-items: baseline !important;
}
.alert__box--basic .alert-title {
  font-size: 1rem;
  color: #1d1d1d;
}
.alert__box--basic .alert-message {
  font-size: 0.9rem;
  color: #4d4d4d;
}
.alert__box--dark .alert-title {
  color: #1d1d1d;
}
.alert__box--info .alert-title {
  color: #1497ee;
}
.alert__box--danger .alert-title {
  color: #ee1414;
}
.alert__button--dark span {
  color: #1d1d1d;
}
.alert__button--info span {
  color: #1497ee;
}
.alert__button--danger span {
  color: #ee1414;
}
.alert__button--danger2 {
  background-color: #ee1414 !important;
  border-radius: 8px !important;
  width: 120px !important;
}
.alert__button--danger2 span {
  color: #ffffff;
  justify-content: center !important;
}
.alert__button--success2 {
  background-color: #149e01 !important;
  border-radius: 8px !important;
  width: 120px !important;
}
.alert__button--success2 span {
  color: #ffffff;
  justify-content: center !important;
}
.alert__button--primary2 {
  background-color: #0000ff !important;
  border-radius: 8px !important;
  width: 120px !important;
}
.alert__button--primary2 span {
  color: #ffffff;
  justify-content: center !important;
}
.loading__primary {
  --background: transparent;
  --spinner-color: #2b2b2b;
}
.custom-calendar.success {
  background-color: #11dd44 !important;
}
.custom-calendar.info {
  background-color: #1181dd !important;
}
.custom-calendar.offdayShow {
  background-color: #d61c4b !important;
}
.custom-calendar.offdayShow p {
  color: #ffffff !important;
}
.custom-calendar.offdayShowPl {
  background-color: #d61c4b !important;
  opacity: 0.2 !important;
}
.custom-calendar.offdayShowPl p {
  color: #ffffff !important;
}
.custom-calendar.light {
  background-color: #ffffff !important;
}
.custom-calendar.dark {
  background-color: #2b2b2b !important;
}
.custom-calendar.yellow {
  background-color: #e6cd45 !important;
}
.custom-calendar.workdayShow {
  background-color: green !important;
}
.custom-calendar.workdayShow p {
  color: #fff !important;
}
.custom-calendar.workdayShow small {
  color: #e6cd45 !important;
}
.custom-calendar.workdayShowPl {
  background-color: green !important;
  opacity: 0.2 !important;
}
.custom-calendar.workdayShowPl p {
  color: #fff !important;
}
.custom-calendar.workdayShowPl small {
  color: #e6cd45 !important;
}
.custom-calendar.urgent {
  background-color: #e60000 !important;
}
.custom-calendar.holiday {
  background-color: #e6cd45 !important;
}
.custom-calendar.offday {
  background-color: #d61c4b !important;
}
.custom-calendar.workday {
  background-color: green !important;
}
.custom-calendar.holidaySelect {
  margin: 30px;
  background-color: #e8e923 !important;
}
.custom-calendar.workholiday {
  margin: 30px;
  background-color: #e8e923 !important;
}
.custom-calendar.holidaySelectPl {
  margin: 30px;
  background-color: #e8e923 !important;
  opacity: 0.2 !important;
}
.custom-calendar.workday-holiday {
  background-color: green !important;
}
.custom-calendar.offday-holiday {
  background-color: #877d7f !important;
}
.custom-calendar.holiday-holiday {
  background-color: #e8e923 !important;
}
.custom-calendar p {
  color: #ffffff !important;
  font-weight: 600 !important;
}
.custom-calendar small {
  color: #ffffff !important;
  font-weight: 400 !important;
}
.calendar-create-plan small {
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 2.2 !important;
  height: 62px !important;
  bottom: -16px !important;
  text-shadow: 0px 0 white, 0 -1px white, 0px 0 white, 0 0px white;
}
.calendar-create-plan p {
  font-size: 1.3em !important;
}
.calendar-create-plan .oct {
  opacity: 0.3 !important;
}
.calendar-create-plan .question-title small {
  display: block !important;
}
.calendar-create-plan .question-title:before small::before {
  content: "";
  background: url("https://i.stack.imgur.com/ZrSlg.jpg") !important;
  background-size: 20px 20px !important;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
}
.calendar-plan small {
  color: #000000 !important;
  font-weight: 600 !important;
  font-size: 13px !important;
  line-height: 2.2 !important;
  height: 62px !important;
  bottom: -16px !important;
  text-shadow: 0px 0 white, 0 -1px white, 0px 0 white, 0 0px white;
}
.calendar-plan p {
  font-size: 1.3em !important;
}
.calendar-plan .oct {
  opacity: 0.3 !important;
}
.calendar-plan .question-title small {
  display: block !important;
}
.calendar-plan .question-title:before small::before {
  content: "";
  background: url("https://i.stack.imgur.com/ZrSlg.jpg") !important;
  background-size: 20px 20px !important;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -30px;
}
.calendar-plan .offday {
  background-color: #877d7f !important;
}
.calendar-plan .expected-holiday {
  background-color: #d90429 !important;
}
.calendar-create-plan .offday {
  background-color: #877d7f !important;
}
.calendar-create-plan .expected-holiday {
  background-color: #d90429 !important;
}
.alert_success {
  text-align: center !important;
}
.alert_success img {
  max-width: 50%;
}
.popoverMenu .popover-content.sc-ion-popover-md {
  left: 0px !important;
  top: auto !important;
  bottom: 0px !important;
  width: 100%;
  padding: 0px;
}
.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}
.custom-loading {
  --background: transparent;
  --spinner-color: #2b2b2b;
}
.custom-loading-full {
  --background: #fdfdfd;
  --spinner-color: #2b2b2b;
  --width: 100%;
  --max-width: 100%;
  --min-width: 100%;
  --height: 100%;
  --max-height: 100%;
  --min-height: 100%;
}
.custom-loading-full .loading-wrapper {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
  display: flex;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  min-width: 100% !important;
  max-height: 100% !important;
  background-color: #fdfdfd !important;
}
.custom-alert-dialog {
  --background: #ffffff;
  margin: 0 !important;
  padding: 0 !important;
}
.custom-alert-dialog img {
  display: block;
  margin: 0 auto;
  width: 45px;
}
.custom-alert-dialog p {
  color: #010101;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.custom-alert-dialog p.sub {
  font-weight: 400;
  margin: 0;
}
.custom-toast-dark {
  --color: #fdfdfd;
  --background: #2b2b2b;
  --border-color: #0b0b0b;
  --border-radius: 25px;
  --box-shadow: none;
  --height: 55px;
  --width: 250px;
  font-size: 1rem;
  text-align: center;
}
.custom-toast-light {
  --color: #0b0b0b;
  --background: #fdfdfd;
  --border-color: #fdfdfd;
  --border-radius: 38px;
  --box-shadow: none;
  --height: 55px;
  font-size: 1rem;
  text-align: center;
}
.custom-toast-yellow {
  --color: #0b0b0b;
  --background: #ffd369;
  --border-color: #ffd369;
  --border-radius: 38px;
  --box-shadow: none;
  --height: 55px;
  font-size: 1rem;
  text-align: center;
}
.custom-toast-dialog {
  --color: #ffffff;
  --background: #1f79e0;
  --border-color: #1c69c2;
  --border-radius: 25px;
  --box-shadow: none;
  --width: 50%;
  --height: 50px;
  font-size: 0.9rem;
  text-align: center;
}
.custom-modal-full {
  --height: 100%;
  --max-height: auto;
  --min-height: 100%;
}
.custom-modal-liff {
  --height: auto;
  --max-height: 80vh;
  --min-height: 80vh;
  display: flex;
  align-items: flex-end;
}
.custom-modal-short-liff {
  --height: auto;
  --max-height: 65vh;
  --min-height: 65vh;
  display: flex;
  align-items: flex-end;
}
.custom-modal-middle {
  --height: auto;
  --max-height: 50vh;
  --min-height: 50vh;
  display: flex;
  align-items: flex-end;
}
.custom-modal-dialog {
  --height: auto;
  --max-height: 50vh;
  --min-height: 50vh;
  --width: 90vw;
  --max-width: 90vw;
  --min-width: 90vw;
  display: flex;
  align-items: center;
  --border-radius: 12px;
}
.custom-popover {
  --width: 90vw;
  --box-shadow: none;
}
.custom-btn {
  font-family: "Sarabun" !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #c9c3c3 !important;
}
.custom-btn-ok {
  font-family: "Sarabun" !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #0674b4 !important;
}
.custom-btn-cancel {
  font-family: "Sarabun" !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #d10909 !important;
}
.custom-btn-dark {
  font-family: "Sarabun" !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #2b2b2b !important;
}
.qrcode-aclass-center {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: scale(1.2);
}
.bc-class {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.swiper-pagination-bullets {
  bottom: 0px !important;
}
.searchbar-input {
  border: 0 !important;
  box-shadow: none !important;
  height: 48px !important;
}
.custom-picker button {
  color: #9e9e9e;
  font-size: 1rem;
}
* {
  font-family: "Prompt", sans-serif;
}
:root {
  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;
}
ion-icon {
  will-change: transform;
}
ion-header {
  --ion-background-color: #f7f7f7;
}
ion-header ion-toolbar {
  --background: #f7f7f7;
  --border-color: transparent;
  --border-style: none !important;
  --min-height: 88px;
}
ion-header ion-toolbar ion-title {
  color: #2d2d2d;
  font-size: 1rem;
  font-weight: 600;
}
ion-content {
  --ion-background-color: #f7f7f7;
}
.flex__col--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  width: 100%;
  padding: 25px;
}
.form .form__item {
  width: 100%;
  margin: 8px auto 12px auto;
  position: relative;
}
.form .form__item .form__item--label {
  color: #797979;
  font-size: 0.8rem;
  margin: 4px 16px;
}
.form .form__item .form__item--invalid {
  color: red;
  font-size: 0.9rem;
  margin-left: 16px;
}
.form .form__item .form__item--image {
  position: absolute;
  bottom: 10px;
  left: 18px;
  z-index: 3;
}
.form .form__item .form__item--image img {
  width: 18px;
}
.form .form__item .form__item--image.right {
  left: auto;
  right: 18px;
}
.form .form__item .form__item--icon {
  position: absolute;
  bottom: 18px;
  left: 18px;
  z-index: 3;
}
.form .form__item .form__item--icon.right {
  left: auto;
  right: 18px;
}
.form .form__item input.form__item--input {
  font-size: 1rem;
  display: inline-block;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 12px 25px;
  width: 100%;
}
.form .form__item input.form__item--input.icon {
  padding-left: 46px;
}
.form .form__item input.form__item--input:focus {
  outline: none;
  border: 2px solid #3d3d3d;
}
.form .form__item input.form__item--input::placeholder {
  color: #bbbbbb;
}
.form .form__item input.form__item--input.invalid {
  border: 2px solid red;
}
.form .form__item input.form__item--input.invalid:focus {
  outline: none;
  border: 2px solid red;
}
.form .form__item ion-textarea.form__item--textarea {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 12px 25px;
}
.form .form__item ion-textarea.form__item--textarea.invalid {
  border: 2px solid red;
}
.form .form__item ion-textarea.form__item--textarea.invalid:focus {
  outline: none;
  border: 2px solid red;
}
.form .form__item ion-select.form__item--select {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 12px 25px;
}
.form .form__item ion-select.form__item--select.icon {
  padding-left: 46px;
}
.form .form__item ion-select.form__item--select.invalid {
  border: 2px solid red;
}
.form .form__item ion-select.form__item--select.invalid:focus {
  outline: none;
  border: 2px solid red;
}
.form .form__item ion-datetime.form__item--datetime {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-sizing: border-box;
  padding: 12px 25px;
  --placeholder-color: #bbbbbb;
}
.form .form__item ion-datetime.form__item--datetime.icon {
  padding-left: 46px;
}
.form .form__item ion-datetime.form__item--datetime.invalid {
  border: 2px solid red;
}
.form .form__item ion-datetime.form__item--datetime.invalid:focus {
  outline: none;
  border: 2px solid red;
}
.btn {
  font-size: 1rem;
  color: #ffffff;
  background: #3f3f3f;
  border: none;
  border-radius: 25px;
  padding: 20px 25px;
  width: 100%;
  margin: 25px auto;
}
.btn.btn-primary {
  color: #ffffff;
  background: #3f3f3f;
}
.btn.btn-danger {
  color: #ffffff;
  background: #d32020;
}
.btn:disabled {
  color: #bbbbbb;
  background: #e9e9e9;
  font-weight: 400;
  cursor: not-allowed;
}
.btn:active {
  transform: scale(1.01);
}
