<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>ประกาศทั้งหมด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list>
    <ion-item *ngFor="let item of items" (click)="viewDoc(item)">
        <ion-card>

            <ion-item>
              <ion-avatar item-start>
                <img *ngIf="item.read_date==''" src="assets/images/announce/announcement_red.svg" >
                <img *ngIf="item.read_date!=''" src="assets/images/announce/announcement_blue.svg" >
              </ion-avatar>
              <ion-label style="padding-left: 10px;">
                <h2>{{item.title}}</h2>
                <p style="text-align: center;"> วันที่ {{item.start_date}} - {{item.end_date}}</p>
              </ion-label>

            </ion-item>

            <img src="{{item.picture}}"  onError="this.src='assets/imgs/icons/megaphone.svg';" alt="">

            <ion-card-content *ngIf="item.read_date==''" style="text-align: center;">
              <p style="color:#ff0000">กดอ่านรายละเอียดเพิ่มเติม</p>
            </ion-card-content>
            <ion-card-content  *ngIf="item.read_date!=''">
                <p>กดอ่านรายละเอียดเพิ่มเติม</p>
                <p>อ่านแล้วเมื่อวันที่ {{item.read_date}}</p>
            </ion-card-content>
        </ion-card>

    </ion-item>
</ion-list>



</ion-content>
