<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>รีเซ็ตรหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- * ############# FORM_VERIFY_MOBILE ############# * -->
  <div *ngIf="step === 'FORM_VERIFY_MOBILE'">
    <div class="header">
      <p>ป้อนเบอร์โทรศัพท์ที่ท่านได้ลงทะเบียนไว้ก่อนหน้า</p>
      <p>ระบบจะส่งรหัส OTP ไปทาง SMS เพื่อยืนยันตัวตน</p>
    </div>
    <form class="form" [formGroup]="formVerifyMobile">
      <div class="form__item">
        <input
          class="form__item--input"
          type="tel"
          maxlength="10"
          placeholder="เบอร์โทรศัพท์"
          formControlName="mobile_phone"
        />
      </div>
      <button class="btn btn-primary" [disabled]="!formVerifyMobile.valid" (click)="submitVerifyMobile()">ยืนยัน</button>
    </form>
  </div>

  <!-- * ############# FORM_VERIFY_OTP ############# * -->
  <div *ngIf="step === 'FORM_VERIFY_OTP'">
    <div class="header">
      <p>ระบบได้ส่งรหัส OTP ไปยังเบอร์โทรศัพท์</p>
      <p><strong>{{ mobile.text }}</strong></p>
      <p>รหัสอ้างอิง : {{ ref }}</p>
    </div>
    <form class="form" [formGroup]="formVerifyOtp">
      <div class="form__item">
        <input class="form__item--input" type="tel" placeholder="รหัส OTP" formControlName="otp" />
      </div>
      <button class="btn btn-primary" [disabled]="!formVerifyOtp.valid" (click)="submitVerifyOtp()">ยืนยัน</button>
    </form>
  </div>

  <!-- * ############# FORM_NEW_PASSWORD ############# * -->
  <div *ngIf="step === 'FORM_NEW_PASSWORD'">
    <div class="header">
      <p>สร้างรหัสผ่านใหม่</p>
      <p>ระบบจะบันทึกรหัสผ่านนี้เป็นรหัสปัจุบันของท่าน</p>
    </div>
    <form class="form" [formGroup]="formNewPassword">
      <div class="form__item">
        <input
          class="form__item--input"
          type="password"
          placeholder="รหัสผ่านใหม่ (อย่างน้อย 6 ตัวอักษร)"
          formControlName="password"
        />
      </div>
      <div class="form__item">
        <input
          class="form__item--input"
          type="password"
          placeholder="ยืนยันรหัสผ่านอีกครั้ง"
          formControlName="confirmPassword"
        />

        <p class="form__item--invalid" *ngIf="!formNewPassword.valid && formNewPassword.get('confirmPassword').value">
          * รหัสผ่านไม่ถูกต้องหรือรหัสผ่านไม่ตรงกัน !!
        </p>
      </div>

      <button class="btn btn-primary" [disabled]="!formNewPassword.valid" (click)="submitNewPassword()">ยืนยัน</button>
    </form>
  </div>
</ion-content>
