<ion-content>
  <ion-list *ngIf="props.type === 'shop'">
    <!-- <ion-list-header>
      Recent Conversations
    </ion-list-header> -->
    <div *ngIf="!dataShopCounterAPI" style="width: 100%; text-align: center">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <ion-item button *ngFor="let dataSC of dataShopCounterAPI" (click)="meClicked($event, dataSC, 'shop')">
      <ion-label>
        <h2>{{ dataSC.custid }} {{ dataSC.custname }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="props.type === 'counter' && props.dataCounter !== 'ไม่มีรหัสร้านค้านี้'">

    <ion-item button *ngFor="let dataCounters of dataCounterAPI" (click)="meClicked($event, dataCounters, 'counter')">
      <ion-label>
        <h2>{{ dataCounters.counterid }} {{ dataCounters.countername }}</h2>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="props.type === 'timetype'">
    <ion-item button *ngFor="let dataTimeType of dataTimeTypeAPI" (click)="meClicked($event, dataTimeType, 'timetype')">
      <ion-label>
        <h2>{{ dataTimeType.time_type }} ({{ dataTimeType.time_from }}-{{ dataTimeType.time_to }})</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="props.type === 'worktype'">
    <!-- <ion-item button *ngFor="let dataWorkType of dataWorkTypeAPI" (click)="meClicked($event, dataWorkType, 'worktype')">
      <ion-label>
        <h2>-</h2>
      </ion-label>

    </ion-item> -->
    <ion-item button *ngFor="let dataWorkType of dataWorkTypeAPI" (click)="meClicked($event, dataWorkType, 'worktype')">
      <ion-label>
        <!-- <div
          [ngStyle]="{
            backgroundColor: '#{{dataWorkType.work_color}}',
            width: '20px',
            height: '20px',
            borderRadius: '50%'
          }"
        >
          <span style="margin-left: 25px">{{ dataWorkType.work_dexc }}</span>
        </div> -->
        <span style="float: left">
          <div  style="background-color: #{{dataWorkType.work_color}}; width: 20px; height: 20px; border-radius: 50%; float: left;"></div> <span style="margin-left: 10px;">{{dataWorkType.work_dexc}}</span>
        </span>
      </ion-label>

      <!-- <ion-select-option value="W">วันทำงานปกติ</ion-select-option> -->
    </ion-item>
  </ion-list>
  <!-- <ion-list> -->
  <ion-item (click)="closedPopover()">
    <ion-label>
      <h2>ปิด</h2>
    </ion-label>
  </ion-item>
  <!-- </ion-list> -->
</ion-content>
