.custom-calendar {
  &.success {
    background-color: #11dd44 !important;
  }

  &.info {
    background-color: #1181dd !important;
  }

  &.offdayShow {
    background-color: #d61c4b !important;
    p{
      color: #ffffff !important;
    }
  }

  &.offdayShowPl{
    background-color: #d61c4b !important;
    p{
      color: #ffffff !important;
    }
    opacity: 0.2 !important;
  }

  &.light {
    background-color: #ffffff !important;
  }

  &.dark {
    background-color: #2b2b2b !important;
  }

  &.yellow {
    background-color: #e6cd45 !important;
  }

  &.workdayShow {
    background-color: green !important;
    p{
      color: #fff !important;
    }
    small{
      color: #e6cd45 !important;
    }
  }

  &.workdayShowPl{
    background-color: green !important;

    p{
      color: #fff !important;
    }
    small{
      color: #e6cd45 !important;
    }
    opacity: 0.2 !important;
  }

  &.urgent {
    background-color: #e60000 !important;
  }

  &.holiday {
    background-color: #e6cd45 !important;
  }

  &.offday {
    background-color: #d61c4b !important;
  }


  &.workday {
    background-color: green !important;
  }

  &.holidaySelect {
    // background-color: #FF4500 !important;
    margin: 30px;
    background-color: #e8e923 !important;
    // border: 1px solid black !important;
    // opacity: 0.3 !important;
    // filter: alpha(opacity=60) !important; /* For IE8 and earlier */
  }


  &.workholiday {
    // background-color: #FF4500 !important;
    margin: 30px;
    //background-color: #FF4500 !important;
    background-color: #e8e923 !important;

    // border: 1px solid black !important;
    // opacity: 0.3 !important;
    // filter: alpha(opacity=60) !important; /* For IE8 and earlier */
  }

  &.holidaySelectPl{
    margin: 30px;
    background-color: #e8e923 !important;
    opacity: 0.2 !important;
  }

  &.workday-holiday {
    background-color: green !important;
  }

  &.offday-holiday {
    // background-color: #d61c4b !important;
    background-color:  #877d7f !important;
  }

  &.holiday-holiday {
    background-color: #e8e923 !important;
  }


  p {
    color: #ffffff !important;
    font-weight: 600 !important;
  }

  small {
    color: #ffffff !important;
    font-weight: 400 !important;
  }
}

.calendar-create-plan {

  small{
    color: #000000 !important;
    font-weight: 600 !important;
    // bottom: 28px !important;
    font-size: 13px !important;
    line-height: 2.2 !important;
    height: 62px !important;
    bottom: -16px !important;
    text-shadow: 0px 0 white, 0 -1px white, 0px 0 white, 0 0px white;
  }

  p{
    font-size: 1.3em !important;
  }



  .oct {
    opacity: 0.3 !important;
  }

  .question-title small{
    display:block !important;
    // padding-left:30px !important;
  }
  .question-title:before small::before{
    content: '';
    background:url('https://i.stack.imgur.com/ZrSlg.jpg') !important;
    background-size: 20px 20px !important;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
  }


}


.calendar-plan {

  small{
    color: #000000 !important;
    font-weight: 600 !important;
    // bottom: 28px !important;
    font-size: 13px !important;
    line-height: 2.2 !important;
    height: 62px !important;
    bottom: -16px !important;
    text-shadow: 0px 0 white, 0 -1px white, 0px 0 white, 0 0px white;
  }

  p{
    font-size: 1.3em !important;
  }



  .oct {
    opacity: 0.3 !important;
  }

  .question-title small{
    display:block !important;
    // padding-left:30px !important;
  }
  .question-title:before small::before{
    content: '';
    background:url('https://i.stack.imgur.com/ZrSlg.jpg') !important;
    background-size: 20px 20px !important;
    position:absolute;
    width:20px;
    height:20px;
    margin-left:-30px;
  }

  .offday {
    background-color: #877d7f !important;
  }

  .expected-holiday {
    background-color: rgb(217, 4, 41) !important;
  }
}

.calendar-create-plan{
  .offday {
    background-color: #877d7f !important;
  }
  .expected-holiday {
    background-color: rgb(217, 4, 41) !important;
  }

  // .on-selected {
  //   background-color: #ffffff00 !important;

  //   p{
  //     color: #333 !important;
  //   }

  // }

  // .on-selected{
  //   background-color: #ffff !important;
  // }

  // .on-selected p{
    // background-color: #000000 !important;
  // }
}

.alert_success{
  text-align: center !important;

  img{
    max-width: 50%;
  }
}

.popoverMenu {
  .popover-content.sc-ion-popover-md {
    // top: 0px !important;
    left: 0px !important;
    top: auto !important;
    bottom: 0px !important;
    width: 100%;
    padding: 0px;
  }
}


.alert-danger {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}

// .on-selected {
//   background-color: #0000 !important;
//   color: #000000 !important;
// }


// .on-selected _ngcontent-tmn-c150{
//   color: #000000 !important;
// }


