
<ion-header>
  <ion-toolbar>
    <ion-title>{{ props?.type === 'shop' ? 'เลือกร้านค้า' : props?.type === 'counter' ? 'เลือกเคาน์เตอร์' : '' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-list style="height:280px; overflow:scroll">
    <ion-item  (click)="meClicked($event, 'SHOP1', 'shop')">
      <ion-label>
        <h2>SHOP 1</h2>
      </ion-label>    
    </ion-item>
    <ion-item  (click)="meClicked($event, 'SHOP2', 'shop')">
      <ion-label>
        <h2>SHOP 2</h2>
      </ion-label>    
    </ion-item>
    <ion-item  (click)="meClicked($event, 'SHOP3', 'shop')">
      <ion-label>
        <h2>SHOP 3</h2>
      </ion-label>   
    </ion-item>    
    <ion-item  (click)="meClicked($event, 'SHOP4', 'shop')">
      <ion-label>
        <h2>SHOP 4</h2>
      </ion-label>    
    </ion-item>
    <ion-item  (click)="meClicked($event, 'SHOP5', 'shop')">
      <ion-label>
        <h2>SHOP 5</h2>
      </ion-label>    
    </ion-item>
  </ion-list>  


  <!--
  <ion-list *ngIf="props.type === 'shop'">

    <div *ngIf="!dataShopCounterAPI" style="width: 100%; text-align: center">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    <ion-item button *ngFor="let data of dataShopCounterAPI"  style="height:20px" (click)="meClicked($event, data, 'shop')">
      <ion-label>
        <h2>{{ data.custid }} {{ data.custname }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <ion-icon name="add-outline"></ion-icon>
        กำหนดร้านค้าเอง</ion-label>
      <ion-input [ngClass]="{ BB: selectedIndex == 1 }" (ionChange)="inputTextShop($event)"></ion-input>
     
      <ion-button *ngIf="otherShop" color="primary" style="width: 100%; height: 50px" (click)="addNewShopCounter('shop')">
        เลือกรหัสร้านค้านี้</ion-button>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="props.type === 'counter' && props.dataCounter !== 'ไม่มีรหัสร้านค้านี้'">

      <ion-item button *ngFor="let dataCounters of dataCounterAPI" (click)="meClicked($event, dataCounters, 'counter')">
        <ion-label>
          <h2>{{ dataCounters.counterid }} <br />{{ dataCounters.countername }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>

      
      <ion-label position="floating">
        <ion-icon name="add-outline"></ion-icon>
        กำหนดเคาน์เตอร์เอง</ion-label
      >
      <ion-input [ngClass]="{ BB: selectedIndexC == 1 }" (ionChange)="inputTextCounter($event)"></ion-input>
      <ion-button *ngIf="otherCounters" color="primary" style="width: 100%; height: 50px" (click)="addNewShopCounter('counter')"
        >เลือกเคาน์เตอร์นี้</ion-button
      >      
    </ion-item>
  </ion-list>

  -->
</ion-content>
