div.circular--portrait {
    display: block;
    margin: 0 auto;
    padding: 0;
  
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    background: #eeeeee;
  
  
    // img {
    //   width: 10%;
    //   height: 120px;
    //  // height: auto;
    // }
  
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      margin: auto;
    }
  }
  
  div {
    background: #fdfdfd;
    border-radius: 12px;
    padding: 28px;
    margin: 12px;
  
  
    p.nickname {
      font-size: 1.1rem;
      color: #000000;
      text-align: center;
    }
  
    p.fullname {
      font-size: 1rem;
      color: #2b2b2b;
      text-align: center;
    }
  
    p.id {
      font-size: 1rem;
      color: #2b2b2b;
      text-align: center;
    }
  
    .star {
      display: flex;
      justify-content: center;
      align-items: center;
      ion-icon {
        font-size: 1.2rem;
        margin: 0 2px;
      }
    }
  
    ion-list {
      background: #fdfdfd;
      margin: 0;
  
      ion-item {
        --background: #ffffff;
        --border-radius: 2px;
        --highlight-color-focused: transparent;
  
        ion-thumbnail {
          img {
            display: block;
            margin: 0 auto;
            padding: 10px;
          }
        }
      }
    }
  }
  
  ion-button.btn-action {
    height: 48px;
    --background: #f7928b;  // #ffaaa5;
    --background-hover: #ffaaa5;
  }
  