<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{announce.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-banner">
      <img class="announce-picture" src="{{announce.picture}}" onError="this.src='assets/imgs/icons/megaphone.svg';" (click)="onViewImage(announce.picture)"  alt="">
  </div>
  <div style="text-align: center;">
     <h6>{{announce.title}}</h6>
     <p class="announce-date">วันที่ {{announce.start_date}} - {{announce.end_date}}</p>
  </div>

  <p [innerHTML]="announce.description"></p>

</ion-content>

