<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>ลูกค้า</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addCustomer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <section class="section__search">
    <ion-searchbar debounce="500" placeholder="ค้นหาลูกค้า" animated [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"></ion-searchbar>
  </section>

  <section class="section__list">
    <div class="section__list__total">
      <p>ทั้งหมด</p>
      <p class="right">แสดง {{ customers.length | number }} จาก {{ customersInit.length | number }} รายการ</p>
    </div>

    <div class="section__list__item">
      <ion-list lines="none">
        <ion-item-sliding *ngFor="let customer of customers" (click)="viewDetail(customer)">
          <ion-item>
            <ion-avatar slot="start">
              <img [src]="customer.img_member" (error)="getAvatar($event, customer)"/>
              <!--customer.gender === 'M' ? 'assets/images/avatar-male.svg' : 'assets/images/avatar-female.svg'-->
            </ion-avatar>
            <ion-label class="info">
              <h2 *ngIf="customer.nickname">{{ customer?.nickname }}</h2>
              <p *ngIf="customer.first_name">{{ customer?.first_name }} {{ customer?.last_name }}</p>
              <p *ngIf="customer.birthday_full">วันเกิด {{ customer?.birthday_full }}</p>
            </ion-label>
            <div slot="end">
              <div class="hisher-info">
                <img [src]="customer?.img_card" alt="" />
                <p>{{ customer?.hh_id }}</p>
              </div>
              <img *ngFor="let i of customer.rating" class="rating" src="assets/images/customer/rating.svg" [alt]="i" />
            </div>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="removeCustomer(customer.customer_id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </section>
</ion-content>
