<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429186016735-kq9asnvjd6d6dds2n0of0k99kfonglsg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429186016735-kq9asnvjd6d6dds2n0of0k99kfonglsg</string>
	<key>API_KEY</key>
	<string>AIzaSyC6MFvjlzSX8IZwJFdq470nfMK8o7WQmBs</string>
	<key>GCM_SENDER_ID</key>
	<string>429186016735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.co.icc.salestools</string>
	<key>PROJECT_ID</key>
	<string>salestoolsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>salestoolsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429186016735:ios:e7f5ad0f720302b9b2106a</string>
	<key>DATABASE_URL</key>
	<string>https://salestoolsapp.firebaseio.com</string>
</dict>
</plist>